.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.button {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color:darkslateblue;
    transition: 0.4s;
    border: none;
    cursor: pointer;
}

button:hover, .checkBox:hover {
    filter: brightness(120%);
    transition: 0.4s;
}

.sectionParent {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.sectionParent h4 {
    margin-top: 10px;
}

.section {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.numberField {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 3rem;
    gap: 2px;
}

.numberFieldButton {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color:darkslateblue;
    transition: 0.4s;
    border: none;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.numberFieldInput {
    width: calc(100% - 6rem - 4px);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: white;
}

.dataFieldAddButton {
    transition: 0.4s;
    height: 2rem;
    width: auto;
    padding: 0 10px;
    background-color: darkslateblue;
    border-radius: 2rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: white;
    font-weight: 1000;
}

.checkBox {
    height: 2.5rem;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    border-radius: 2rem;
    transition: 0.4s;
    background-color: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.checked {
    transition: 0.4s;
    background-color: darkslateblue;
    color: white;
}

.checkBox input {
    height: 20px;
    width: 20px;
    background-color: transparent;
    color: transparent;
}



.spaceAround {
    justify-content: space-around;
}

.dataFieldList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.dataField {
    display: flex;
    height: 2.5rem;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 3px solid darkslateblue;
    box-sizing: border-box;
    overflow: hidden;
}

.dataField .icon {
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-right: 3px solid darkslateblue;
}

.dataField .icon img {
    height: 80%;
}

.dataField input {
    height: 2rem;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
}

.dataField button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: darkslateblue;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 5px;
}

.dataField input[type=text] {
    width: calc(100% - 10rem - 15px);
}
.dataField input[type=number] {
    width: 5rem;
}